.select-style {
    border: 1px solid #fff;
    width: 95%;
    height: 50px;
    border-radius: 3px;
    overflow: hidden;
    background: #F5F8F9 url("../img/arrow.PNG") no-repeat 5% 60%;
    border-radius: 20px;
    position: relative;


}

.select-style select {
    color:rgb(181, 183, 185);
    padding: 15px 45px;
    width: 100%;
    border-radius: 15px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    position: relative;

    
}

.select-style select:focus {
    outline: none;
}
.add1{
    padding-top:50px;
}
.add1 ul {
    
    padding-inline-start: 0px;
}
.add1 .nav-pills{
    border-bottom: none;

}

.add1 ul li a{
    width:213px;
    background: #fff;
    color: #B0C1D1;
    height: 50px;
    line-height: 38px;
    text-align: center;
    border-radius: 32px;
    -webkit-box-shadow: 0px 100px 100px 0px rgba(196, 196, 214, 0.15);
    box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    
  

}
.add1 ul li a:hover{
    background:#B0C1D1;
    color: #ffff;
    font-weight: bold;
    border: 1px solid #fff;
}
.add1 .row label{
    color:#000;
    font-size: 16px;

}
.add1 input{
    border: 1px solid #fff;
    width: 99%;
    height: 50px;
    border-radius: 3px;
    overflow: hidden;
    border-radius: 20px;
    background: #F5F8F9;
    position: relative;
    padding-right: 40px;

}
.add1 .input-index input{
    border: 1px solid #fff;
    width: 95%;
    height: 50px;
    border-radius: 3px;
    overflow: hidden;
    border-radius: 20px;
    background: #F5F8F9;
    padding-right: 40px;
    position: relative;
    outline: 0px;

}
.add1 .input-index a{
    position:absolute;
    background: #A6D141;
    height: 50px;
    padding:5px 10px;
    position: absolute;
    left: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 36px;
    color:#fff;
}
.add1 .input-index a:hover{
text-decoration: none;
background: #fff;
color: #A6D141;
outline: 0px;
border:1px solid #A6D141;
}
.add1 form h3{
    color:#000 ;
    font-size: 18px;
}
.add1 form .fa-toggle-on{
    color:rgb(132, 140, 143);
    font-size: 22px;
}
.add1 form a.kobon:hover{
    text-decoration: none;
    color: #A6D141;


}
 .loginbutton a{
    color: #fff;
    background: #A6D141;
    border-radius: 32px;
    padding: 4px 100px;
    outline: 0px;
    border:0px;

}

.loginbutton a:hover{
    text-decoration: none;
    background: #fff;
    color: #A6D141;
    outline: 0px;
    border:1px solid #A6D141;
}
.fa-globe{
    color:#B0C1D1;
    position: absolute;
    top:50px;
    right:35px;
    font-size: 20px;;

}

.fa-trello{
    color:#B0C1D1;
    position: absolute;
    top:50px;
    right:35px;
    font-size: 20px;;

}
.fa-briefcase{
    color:#B0C1D1;
    position: absolute;
    top:50px;
    right:35px;
    font-size: 20px;;

}
.fa-book-open{
     color:#B0C1D1;
    position: absolute;
    top:50px;
    right:35px;
    font-size: 20px;;

}
.form-group .fa-play{
    color:#B0C1D1; 
    position: absolute;
    top:550px;
    right:130px;
    font-size: 20px;;

}
.fa-paperclip{
    color:#B0C1D1;
    position: absolute;
    top:50px;
    right:35px;
    font-size: 20px;;

}
.fa-pencil-alt{
    color:#B0C1D1;
    position: absolute;
    top:50px;
    right:35px;
    font-size: 20px;;

}
.fa-dollar-sign{
    color:#B0C1D1;
    position: absolute;
    top:50px;
    right:35px;
    font-size: 20px;;

}
.form-group .fa-bookmark{
    color:#B0C1D1; 
    position: absolute;
    top:550px;
    right:130px;
    font-size: 20px;;

}
.fa-question-circle{
    color:#B0C1D1; 
    position: absolute;
    right:130px;
    bottom:-40px;
    font-size: 20px;;

}
.fa-check{
    color:#B0C1D1; 
    position: absolute;
    right:130px;
    font-size: 20px;;
    bottom:-190px;

}
.add1 .QandA textarea{
    height: 100px;
    border: 1px solid #fff;
    width: 99%;
    border-radius: 3px;
    overflow: hidden;
    border-radius: 20px;
    background: #F5F8F9;
    padding-right: 40px;
    padding-top:10px;
    position: relative;
    outline: 0px;

}
.add1 .QandA textarea:hover{
   
    outline: 0px;

}
.fa-calendar-alt{
    color:#B0C1D1;
    position: absolute;
    top:50px;
    right:35px;
    font-size: 20px;;

}
.fa-clock{
    color:#B0C1D1;
    position: absolute;
    top:50px;
    right:35px;
    font-size: 20px;;
    
}

