
body{
    direction: rtl;
    font-family: 'NotoKufiArabic-regular';
    color: #fff;


}

@font-face {
font-family: 'NotoKufiArabic-regular';
src: url('../fonts/ArbFONTS-22015-notokufiarabic-regular.ttf');
src: local('☺'),  url('../fonts/ArbFONTS-22015-notokufiarabic-regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
.bg-dark {
    background-color: #000000!important;
}
.navbar .navbar-brand img{
   height: 45px;
}
.navbar-dark .navbar-nav .nav-link {
    color:#FFFFFF;
    font-size: 16px;
    padding-left:5px;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color:#A6D141;
}
.social{
    margin-right: 60px;
}



a.btn {
    border: 1px solid #fff;
    border-radius: 15px;
    font-size: 13px;
    color: #fff;
    width: 125px;
    height: 35px;

}
.btn:hover{
    background: #A6D141;
    border: 0px;

}

.mainSection{
    background: transparent url("../img/BG.png");
    background-size: cover;
    color: #FFF;
    height: auto;
    overflow: hidden;
    opacity: 1;
    
}
/*/**
.mainSection .overlay {
    background: rgba(26, 24, 24, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
*/

.mainSection h1{
    margin-top: 160px;
    font-weight: bold;
    font-size: 30px;
}
.mainSection p{
    font-size: 24px;
}
.mainSection .squareTop {
    width: 230px;
    height: 260px;
    background: transparent ;
    border-radius: 20px;
    overflow: hidden;
    background: rgb(58, 57, 57);
    border: 1px solid #A6D141;
    padding: 15px 20px;
    background: #0C0F23 0% 0% no-repeat padding-box;
    opacity: .68;  
    
}


.mainSection .squareTop h2{
    color: #A6D141;
    font-size: 18px;
    text-align: center;
    font-weight: bold;

}

.mainSection .squareTop p{
    color:#fff;
    font-size: 14px;
    text-align: center;

}
.mainSection .buttonSection{

width: 1100px;
height: 150px;
border-radius: 15px;
overflow: hidden;
background: rgb(58, 57, 57);
border: 1px solid #A6D141;
padding: 50px 20px;
background: #0C0F23;
opacity: .68; 

}

.form-row .col-auto select {
    width:220px;
    outline: 0px;
    border: 0px;
    padding: 4px 30px ;
    border-radius: 15px;
    position: relative;
}

form .col-auto span{
    color: #000000;
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 18px;
}
form .col-auto a{
    width: 140px;
    background: #A6D141;
    border: 0px;
    outline: none;
    margin-top: 10px;
    padding:9px 25px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    outline: 0px;
    border: 0px;



}
form .col-auto a:hover{
    background: #A6D141;
    outline: 0px;
    border: 0px;
}
.section{
    width: 100%;
    height: auto;
    margin-top: 50px;
    color: #000000;
    

}
.section h2{
    font-weight: bold;
    color: #A6D141;
    font-size: 35px;

}
/*features*/

.features  .row a{
    color: #A6D141;
    font-size: 45px;
}

.features  .row .circle{
    background: #FFF;
   padding: 10px 25px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.features h2{
    color: #000000;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
.features p{
    color: #000000;
    font-size: 15px;
    text-align: center;
}
/**/
.servicessSection .nav .nav-item a{
    font-size: 25px;
    color: #000000;
    padding-left: 30px;
    border: 1px solid #A6D141;

}
.servicessSection .nav .teacher a{
    
    padding-right: 180px;

}

.special-menu{
    margin-bottom: 40px;
}
.filter-button-group{
    display: inline-block;
}
.filter-button-group button{
    background: #fff;
    color:#000;
    border: 1px solid #A6D141;
    cursor: pointer;
    padding: 7px 50px;
    font-size: 20px;
    border-radius: 30px;
}

.special-menu a:hover{
    text-decoration: none;
}
.filter-button-group button:hover{
    background:#A6D141;
    color:#fff;
    border: 1px solid #A6D141;
}  
.servicessSection .row h3{
    color: #000;
    font-weight: bold;
}
.servicessSection .row p{
    color: #000;
    font-size: 18px;
}
.servicessSection .row .descText{
    height: 210px;
    overflow: hidden;
}
.servicessSection .row video{
    border-radius: 30px;
    width: 450px;
    height: 330px;
}
.servicessSection .row .btn-success {
    width: 250px;
    height: 40px;
    line-height: 28px;
    background: #A6D141;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    border:0px;
    outline: none;
}
.servicessSection .row .btn-success:hover{
  
    color: #A6D141;
    background: #fff;
    border: 1px solid #A6D141;
}
.holidaySection{
    background: #0000 url("../img/backHoliday.png");
    background-size: cover;
    color: #FFF;
    overflow: hidden;
    opacity: 1;
    height: 250px;

}
.holidaySection .overlay {
    background: rgba(32, 27, 27, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    height: 250px;
    padding: 50px 140px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;



}
.holidaySection h2{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
.holidaySection p{
    color: #fff;
    font-size: 19px;
}
.holidaySection .row .btn-light{
    width: 200px;
    height: 40px;
    line-height: 28px;
    color: rgb(14, 14, 15);
    font-size: 17px;
    border-radius: 30px;
    border:0px;
    outline: none;
    font-weight: bold;

}
/**/

.statesExperience .states{

  background:linear-gradient(to left, #06722C ,#2AAB48);;
  height: auto;
  color:#fff;

} 
.statesExperience .row a{
    font-size: 45px;
    color: #fff;
}
.statesExperience .row h3{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}
.statesExperience .row h4{
    font-size: 25px;
    color: #fff;
}
/*/**/
.SupportingStates h2{
    color: #000;

}
/*owl-carousal*/
.item{
    width:100%;
    text-align: center;
}

.SupportingStates .owl-carousel .item h3{
    font-size: 17px;
    color:#000;
    font-weight: bold;
    text-align: center;
}
.SupportingStates .owl-theme .owl-nav {
    color:rgb(95, 97, 92);
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    border: 0px;
    outline: none;
    border:0px;
}
.owl-carousel.owl-rtl {
    direction: rtl;
}
.owl-carousel .owl-nav button.owl-next{
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    position: absolute;
    left:-70px;
    top:35px;
    width:50px;
    height: 50px;
    line-height: 5px;
    outline: none;
    border:0px;
}
.owl-carousel .owl-nav button.owl-prev{
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    position: absolute;
    right:-80px;
    top:35px;
    width:50px;
    height: 50px;
    line-height: 5px;
    outline: none;
    border:0px;
}
.owl-carousel .owl-nav button.owl-next:hover,.owl-carousel .owl-nav button.owl-prev:hover{
 outline: none;
 border:0px;
 background: transparent;
 color:#A6D141;
}


/**/
.footerSection {
    padding-top:50px;
    background: #000000;
    color:#FFF;
}
.footerSection .row p{
    color:#FFFFFF;
    font-size:15px;

}
.footerSection .row h2{
    color:#FFFFFF;
    font-size:22px;
 

}
.footerSection .footer-ul a {
    color:#fff;
    padding-left: 6px;
    font-size: 15px;

}
.footerSection .footer-ul a i{
    color:#fff;
    font-size: 18px;

}
.footerSection .footer-ul a i:hover{
    color:#A6D141;

}
.footerSection .row-1{
    border-bottom: 1px solid rgb(110, 106, 106);
    padding-bottom:20px;

}
.footerSection .footerCopyright p{
    color:#fff;
    font-size: 15px;

}

.footerSection .footer-Icon a{
    font-size:18px;
    color:#000;
    background: #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding:5px 5px;
    margin-right: 10px;
    text-align: center;
    line-height: 15px
}
.footerSection  .footer-Icon a:hover{
    color:#A6D141;

}

/*/* backTop*/
.backTop{
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(12, 12, 12);
    color:#A6D141;
    text-align: center;
    right: 20px;
    bottom: 10px;
    border:1px solid #A6D141;
    font-size: 18px;
    line-height: 38px;
    z-index: 10;
    transition-duration: 0.2s;
    display: none;
}
.backTop:hover{
    color: white;
}
.visible{
    display: block;
}
 #select {
    margin-top: 5px;
    width: 170px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid rgba(36, 36, 36, 0.56);
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    text-align-last: center;
    font-size: 18px;
    box-sizing: border-box;
    margin-right: 15px;
}
.round {
    background-image: linear-gradient(45deg, transparent 50%, rgb(144, 144, 144) 50%),
    linear-gradient(135deg, #868686 50%, transparent 50%),
    radial-gradient(#ffffff 70%, transparent 72%);
    background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
    background-size: 5px 5px,
    5px 5px,
    1.5em 1.5em;
    background-repeat: no-repeat;
}
.round:focus {
    background-image: linear-gradient(45deg, #9a9a9a 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #929292 50%),
    radial-gradient(#ffffff 70%, transparent 72%);
    background-position: calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - .5em) .5em;
    background-size: 5px 5px,
    5px 5px,
    1.5em 1.5em;
    background-repeat: no-repeat;
    outline: 0;
}
 #select:focus,
 #select option:focus {
    outline: 0;
}
#select option {
    text-align: center;
}
.src-btn {
    width: 140px;
    height: 50px;
    background: #A6D141;
    border-radius: 10px;
    border:none;
    color:#fff;

}
.src-btn a{
    color: #fff;
}
.src-btn a:hover{
    text-decoration: none;
}

/*/*connect awaypage css*//**/
.BodySection .row video{
    border-radius: 32px;
    width:100%; 
    height:480px;
    
}
.BodySection .row .card-connect{
    width: 100%;
    height: 150px;
    border:1px solid red;
    border-radius: 32px;

}

.blog-post img {
	width: 45%;
    overflow: hidden;
    height: 130px;
}

.blog-post {
	margin-bottom: 30px;
    display: inline-block;
    background: #fff;

}

.blog-post .right-content {
	background-color: #fff;
	width: 55%;
    float: left;
    padding: 10px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;


}

.blog-post .right-content h4 {
	
	font-size: 18px;
    color: #121212;
    font-weight: bold;
}
.blog-post .right-content p {
	
	font-size: 13px;
    color: #BBBCC1;
    overflow: hidden;
    height: 60px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 0px;
}
.BodySection .Blog-Descriotion{
    color:#000;
    padding-top:10px;

}
.BodySection .Blog-Descriotion h2{
    color:#000;
    font-size: 28px;
    
}
.BodySection .Blog-Descriotion .nav-link {
    display: block;
    padding: .5rem 0rem;
    
}
.BodySection .Blog-Descriotion .nav a{
    color:#C9C9C9;
    font-size: 18px;
    padding-left: 20px;
    
}
.BodySection .Blog-Descriotion  p{
    color:#5A5C69;
    font-size: 15px;
    height: 65px;
    overflow: hidden;
    
}
.profile{
    margin-top:100px;
}
.profileSection{
    display: flex;
    margin:0 auto;
    width: 70%;
    
}
.profileSection .row .col-lg-4 img{
    width:160px;
    height: 160px;
    border-radius: 50%;
    border:5px solid  #A6D141;
    
}
.profileSection .row .col-lg-4{
    border-left: 1px solid #E9E9F0;
    padding-left:170px;

}

.profileSection h3{
  font-size: 20px;
  color:#000;
  font-weight: bold;
}
.profileSection .profileDesc {
    padding-right: 30px;
    text-align: right;
}
.profileSection a:hover {
    text-decoration: none;
}
.profileSection .profileDesc  a{
    color:#E9E9F0;
}
.profileSection .profileDesc .nav a:hover {
    text-decoration: none;
    color: #E9E9F0;
}

.profileSection .profileDesc .nav-evaluate a:hover {
    text-decoration: none;
    color:yellow;
}
.profileSection .profileDesc .nav-evaluate a{
    font-size: 20px;
}
.profileSection .profileDesc .nav-evaluate span{
    font-size: 20px;
}
.profileSection .profileEdit img{
    height: 50px;
}
.profileSection .profileEdit .btn-success{
    background: #FFF;
    border:1px solid #A6D141;
    color:#000;
    outline: 0px;
}

.profileSection .profileEdit .btn-success:hover{
    background: #A6D141;
    color:#fff;
    outline: none;
    border:none;
}
.profile .profileSection{
    border-bottom:1px solid #E9E9F0;
    padding-bottom: 30px;
}
/* coursess page css*/
.courseSection .titleCource {
    width:85%;
    border-bottom: 3px solid #A6D141;
    padding-bottom: 20px;
    text-align: center;
    margin-right: 45px;
}
.courseSection .titleCource h4{
    color: #E9E9F0;
    font-size: 18px;
}
.courseSection .titleCource span{
    color: #000;
    font-size: 20px;
}
.courseSection .blog-box{
    -webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    background: #ffffff;
    margin-bottom: 30px;
    border-radius: 20px;
}
.courseSection .blog-img{
    width:100%;}

.courseSection .blog-img img{
    position: relative;
}
.courseSection .blog-img span mark{
    position: absolute;
    background: #FF6565;
    left:10px;
    top:110px;
    border-radius: 20px;
    padding:0px 20px;
    color:#fff;
    font-size: 20px;
    font-weight: bold;

}
.courseSection .row2  .blog-img span mark{
    position: absolute;
    background: #FF6565;
    left:10px;
    top:30px;
    border-radius: 20px;
    padding:0px 20px;
    color:#fff;
    font-size: 20px;
    font-weight: bold;

}
.courseSection .blog-content{
    position: relative;
}
.courseSection .title-blog{
    padding: 20px 10px 0px 0px;
}


.courseSection .Blog-Descriotion{
    color:#000;
    width: 100%;

}
.courseSection  .Blog-Descriotion h2{
    color:#000;
    font-size: 18px;
    
}
.courseSection  .Blog-Descriotion a:hover{
    text-decoration: none;
}
.courseSection  .Blog-Descriotion a h2:hover{
   text-decoration: none;
   color:#FF6565;

    
}
.courseSection  .Blog-Descriotion .nav-link {
    display: block;
    padding: .5rem 0rem;
    
}
.courseSection  .Blog-Descriotion .nav a{
    color:#C9C9C9;
    font-size: 12px;
    padding-left: 10px;
    
}
.title-blog .buttonsMore{
    padding-right: 10px;


}
.title-blog .buttonsMore a{
    background: #ffffff;
    color:#000;
    border:2px solid #000000;
    border-radius: 10px;
    height: 30px;
    width:130px;
    line-height: 10px;
    outline: 0px;
    opacity: 1;

}
.title-blog .buttonsMore a:hover{
    outline: 0px;
     background: #000;
     color:#fff;

    
}

.bodyQandAsection {
    background: #FFF;
    border-top:5px solid #A6D141;
    -webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    padding-right: 30px;
    
}
.bodyQandAsection h2 {
    color:#000;
    font-size:22px;
}
.bodyQandAsection p {
    color:#BBBCC1;
    font-size: 16px;
    text-align: right;
}
.bodyQandAsection a{
    display: flex;
    margin: 0 auto;
    color:#000;
    background: #FFF;
    border: 2px solid #000;
    text-align: center;
    padding-right: 40px;
    font-size: 18px;
    padding-top:3px;
    outline:0px;
    border-radius: 10px;


}
.bodyQandAsection a:hover{
   
    background:#000;
    color: #FFF;
    outline:0px;
    border:0px;
  


}
.bodyQandAsection img{
    width:95%;
    display: flex;
    margin: left auto;
    margin: left;

}
.bodyQandAsection a.edit{
    display: flex;
    margin: 0 auto;
    color:#000;
    background: #FFF;
    border: 2px solid #000;
    text-align: center;
    padding-right: 20px;
    font-size: 18px;
    width: 150px;
    outline:0px;
    border-radius: 10px;
    outline:0px;




}
.bodyQandAsection a.edit:hover{  
    background:#000;
    color: #FFF;
    outline:0px;
    border:0px;
  
}
.CurrentCourcesSection{
    background: #FFF;
    border-right:5px solid #A6D141;
    -webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    padding-right: 30px;
    
}
.CurrentCourcesSection h2{
    color:#000;
    font-size:22px;

}
.CurrentCourcesSection .row .btn-light{
    background: #FFF;
    color:#000;
    border:2px solid #000;
    font-size: 16px;
    line-height: 15px;
    border-radius: 10px;
}
.CurrentCourcesSection .row .btn-light:hover{
    background: #000;
    color:#fff;
}
.CurrentCourcesSection .row span{
    color:#BBBCC1;
}
.CurrentCources .row2{
    border-right:5px solid #D16D41;
  
    
}
.CurrentCources .row3{
    border-right:5px solid #B0C1D1;
  
    
}
.CurrentCources .row4{
    border-right:5px solid #4641D1;
  
    
}
.CurrentCourcesSection p {
    color:#BBBCC1;
    font-size: 16px;

}
.option-blog a{
    position: absolute;
    top:30px;
    height: 40px;
    line-height: 40px;
    width:40px;
    color: #FFF;
    font-size: 26px;
    right: 30px;
    text-align: center;
    border-radius: 50px;  
    background: rgb(70, 68, 68) 0% 0% no-repeat padding-box;
    opacity: .7; 

}
.option-blog a:hover{
    color:#FF6565;
}
.Blog-Descriotion .editCource {
    margin-right: 80px;
    background: #FFF;
    color:#000;
    border:2px solid #000;
    
   
}
.courseSection .Blog-Descriotion .nav a.editCource {
    color:#000;
    font-size: 15px;
    line-height: 10px;
    padding-right: 15px;
    height: 30px;
    width:140px;
    border-radius: 10px;
}
.courseSection .Blog-Descriotion .nav a.editCource:hover{
    color:#ffff;
    background: #000;
    outline: 0px;
    border:0px;
    

  
}
.courseSection-online .blog-img span mark{
    position: absolute;
    background: #FF6565;
    left:10px;
    top:30px;
    border-radius: 20px;
    padding:0px 20px;
    color:#fff;
    font-size: 20px;
    font-weight: bold;

}

/*/*اون لاين كورس*/
.courseSection-online ul {
    padding-inline-start: 0px;
}
.courseSection-online ul li a{
    background: #E9E9F0;
    color: #B0C1D1;
}
.courseSection-online ul li a:hover{
    background: #fff;
    color: #A6D141;
    border: 1px solid #A6D141;
    border-bottom: 0px;
}
.courseSection-online  ul{
    border-bottom: 1px solid #B0C1D1;
    
}





    










